In [44]:
import pandas as pd 
import cx_Oracle
import pymysql
connection =  cx_Oracle.connect("l7bint_ap", "l7bint$ap", "tcpp103:1553/L7BHSHA")
con = pymysql.connect("tw100043811","l7b01_ap","l7b01$ap","db" )
sql = "SELECT DEPARTMENT, USER_ID  FROM aryods.c_fac_user_mst WHERE 1 = 1 AND DEPARTMENT like 'ML7B%' AND CHANGE_STATUS = 'Y' AND SHIFT_ID is not null AND USER_DESC = 'DL' " 
df = pd.read_sql(sql , connection)
total = df.groupby('DEPARTMENT').count().to_dict()['USER_ID']
dllevel =pd.read_sql('SELECT DEPT , LEVEL ,count(NAME) as count FROM db.dl_level group by LEVEL , DEPT order by LEVEL;',con)
dllevel_dict = dllevel.set_index('DEPT').to_dict()
DEPT = [ i for i in set(dllevel['DEPT'])]
Level1 = [ int(dllevel[( dllevel['DEPT'] == i) & (dllevel['LEVEL'] == 'Level 1' ) ]['count'].iloc[0]) if  dllevel[( dllevel['DEPT'] == i) & (dllevel['LEVEL'] == 'Level 1' ) ].shape[0]  != 0 else 0 for i in DEPT]
Level2 = [ int(dllevel[( dllevel['DEPT'] == i) & (dllevel['LEVEL'] == 'Level 2' ) ]['count'].iloc[0]) if  dllevel[( dllevel['DEPT'] == i) & (dllevel['LEVEL'] == 'Level 2' ) ].shape[0]  != 0 else 0 for i in DEPT]
Level3 = [ int(dllevel[( dllevel['DEPT'] == i) & (dllevel['LEVEL'] == 'Level 3' ) ]['count'].iloc[0]) if  dllevel[( dllevel['DEPT'] == i) & (dllevel['LEVEL'] == 'Level 3' ) ].shape[0]  != 0 else 0 for i in DEPT]
DEPT = [ i[-2:] for i in DEPT]
connection.close()
con.close()

In [76]:
import random
con = pymysql.connect("10.96.152.76","sam","0000","sam" )
course =pd.read_sql('SELECT SECTION as dept,count(course) as number FROM sam.dkq_main_table group by SECTION;',con)
course_dept = list(course['dept'].astype(str)) 
course_number = list(course['number'].astype(str)) 
course_border = [ int(0) for i in range(len(course_dept))]
course_color = [ ["#"+''.join([random.choice('0123456789ABCDEF') for j in range(6)])][0]  for i in range(len(course_dept))]
con.close()

In [75]:
course_dept

['E1']

In [1]:
__main__.MyClass

NameError: name 'df' is not defined